
.admin-data {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.admin-data h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}

.admin-data form input[type='text'],
.admin-data form input[type='email'] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.admin-data form input:focus {
  outline: none;
  border-color: #007bff;
}

.admin-data button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1c9430;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
}



.admin-data p {
  text-align: center;
  margin-top: 10px;
  color: green;
}