
.Menu {
  max-width: 1100px;
  width: 80%;
  min-height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../Images/fon.jpg');
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
  gap: 20px;
  width: 100%;
  max-width: 640px; /* 3 * 190px + отступы */
  justify-content: center;
  margin-top: 20px;
}

.cardName {
  min-height: 400px;
  border: 1px solid #f1eded;
  border-radius: 8px;
  color: #f8f5f5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
 /* background-color: #2c2c2c; /* например, тёмный фон */
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card__img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin-top: 10px;
}

/* Стили для input и button если нужно */

input[type="text"] {
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
  box-sizing: border-box;
}

button {
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
