



.cardName {
  width: 190px;
  min-height: 400px;
 
  border: 1px solid #f1eded;
  border-radius: 8px;
  color: #f8f5f5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   margin-top: 10px;
   margin: auto;
}

.card__img {
  max-width: 100%; /* Обеспечивает адаптивность изображений */
  height: auto;
}