@media (max-width:815px) {
    .UserBox button {
        width: 90px;
        height: 30px;
      
        border-radius: 5px ;
        margin-right: auto;
        vertical-align: middle;
        
       
    }
    .UserBox {
        width: 100%;
        height:40px ;
        
        display: flex;
        
            
    }
}

@media (max-width:560px) {
    .UserBox button {
        width: 90px;
        height: 30px;
       border:none ;
        border-radius: 5px;
        margin-right: auto;
        vertical-align: middle;
        
       
    }
    .UserBox {
        width: 100%;
        height:40px ;
        
        display: flex;
        background: #59adf6;
            
    }
}

